@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F2F1ED;
    color: #111111;
  }
}

.font-serif {
  font-family: var(--font-libre-baskerville), Georgia, serif;
}

.font-sans {
  font-family: var(--font-montserrat), sans-serif;
}

/* =========================================
   LAROMME - CUSTOM SCROLLBAR (EDITORIAL)
========================================= */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #111111;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8B1E1E;
}
/* ========================================= */
/* =========================================
   LAROMME - GLOBAL GRAIN OVERLAY
   (Materialidade sem perda de performance)
========================================= */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.02; /* Ultra-sutil */
  pointer-events: none;
  z-index: 9999;
}
/* ========================================= */